*{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
footer > div{
    color: gray;
    text-decoration: none;
    text-align: left;
    font-family: Roboto,Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
}

section{
    /* background-color: rgb(167, 167, 167); */
    height: 65px;
    border-radius: 20px;
    padding-top: 40px;
}
#logoArsat{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    /*background-color: rgb(172, 172, 172);*/
}
.logo{
padding-left: 70px;
}
.seccionGlobal > .logo > .navBar > #ul > li > a:hover{
    color: black;
}


.seccionGlobal > .logo > .navBar > #ul{
   display: flex;
   list-style: none;
   margin: 0px;
   padding: 0px;
   font-weight: 600;
   text-transform: uppercase;
    
}
.seccionGlobal > .logo > .navBar > #ul li{
    margin-left: 30px;
}
.navBar{
    margin-left: 50%;
    /*background-color: aqua*/;
}
/*
.residencial{
    padding-left: 25%;
    padding-top: 20px;
}
#residencial, #empresas, #movilidad,#soporte{
    text-decoration: none;
    color: white;
}
.empresas, .movilidad, .soporte{
    padding-left: 70px;
    padding-top: 20px;
}
*/

footer{
    background-color: rgb(15, 15, 15);
}

body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    font-size: 14px;
    font-family: DIN_Regular,Arial,Verdana,sans-serif;
}

.divM{
    display: flex;
    margin: 0px;
}
p {
    text-align: center;
}
 /*.div2interno1{
   background-image: url(src/22Empresas.jpg);
    background-size: cover;
    width: 50%;
}*/
.div2interno2h1{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 10px;
    height: 50%;
}
.div4interno2h1{
    padding-top: 50px;
}

.div2interno2h1>h1{
   font: 50px/50px DIN_Bold,Arial,Verdana,sans-serif;
}
.div2interno2h1>p, .div4interno2h1>p{
    font: 16px/22px DIN_Regular,Arial,Verdana,sans-serif;
    color: darkgray;
    text-align: justify;
}
.div3interno1, .div4interno2{
    padding-top: 50px;
    /*padding-left: 80px;*/
    /*padding-right: 80px; */
    margin-left: 40px;
    margin-right: 60px;
}

.div3interno1>h1, .div4interno2h1>h1{
    font: 50px/50px DIN_Bold,Arial,Verdana,sans-serif;
    text-align: left;
}
.div3interno1>p{
    padding: 80px 200px 0px 0px;
    font: 16px/22px DIN_Regular,Arial,Verdana,sans-serif;
    color: darkgray;
    text-align: justify;
    
}
.divMovil{
    background-image: url(src/4.png);
    background-size: cover;
    
}

.divMovil2{
    display: flex;
}
.divMovil3{
    display: flex;
    /*position: relative; se desactiva porque no me funciona el boton flotante*/
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.divMovil4{
    padding-top: 300px;
    padding-left: 50px;
    padding-right: 64%;
    padding-bottom: 100px;
    height: 500px;
}
.divMovil4>h5{
    font-family: DIN_Regular,Arial,Verdana,sans-serif;
    font-size: 43px;
    text-transform: uppercase;
}
.divMovil4>p{
    font: 16px/22px DIN_Regular,Arial,Verdana,sans-serif;
    text-align: left;
    padding-top: 30px;
   
}
.divDisponibilidad{
    border-left: 1px solid #ffffff;
    height:100%;
    left: 50%;
    width: 30px;
    position: relative;
}

/*Boton flotante*/
.flotante>button>a, .flotante1>button>a{
    color: black;
    font: 700 12px / 18px Roboto, Helvetica, Arial, Verdana, sans-serif;
    padding-left: 4px;
    padding-right: 4px;
}
.flotante>button, .flotante1>button{
    border-radius: 6px;
}
.flotante>button:hover, .flotante1>button:hover{
    transform: scale(1.5);
    
}
.flotante{
    position: fixed;
    bottom: 30px;
    right: 15px;
}

.flotante1{
    position: fixed;
    bottom: 70px;
    right: 15px;
}



                        /* RESIDENCIAL*/
.princResidencial{
    background-image: url("src/11.jpg");
    background-size: 100%;
    /*background-position: center;*/ 
    background-repeat: no-repeat;
    padding-bottom: 300px;
}


.articuloResidencial>h1{
    text-transform: uppercase;
    color: white;
    font-size: 43px;
    font-family: DIN_Regular,Arial,Verdana,sans-serif;
    padding-top: 3;
}
.articuloResidencial>p{
    font-size: large;
    font-family: DIN_Regular,Arial,Verdana,sans-serif;
    text-align: center;
    padding-top: 80px;
}
.articuloResidencial{
    padding-top: 10%;
    padding-left: 25%;
    width: 690px;
    height: 240px;
}