body{
    background-image: url("../../../Practica HTML/src/pexels-viktoriia-kondratiuk-17573843.jpg");
    background-size: 50%;
}
header{
    color: white;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
article{
   text-align: center; 
   width: 50%;
   position: absolute; 
   left: 25%;
   top: 100px;
   background-color: rgb(0, 0, 0, .5);
   color: white; 
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
}
article:hover{
    transform: scale(1.5, 1.5);
}

.primerLetra::first-letter{
    color: red;
    font-size: 130%;
}


article{
    position: relative;
}