
body {
    font-family: 'Roboto', sans-serif;
    background-color: orange;
   }
   form {
    width: 300px;
    border: 5px inset gold;
    color: white;
    background-color: navy;
    padding: 10px;
   }
   .d-block {
    display: block;
   }
   .mt1 {
    margin-top: 5px;
   }
   .mt2 {
    margin-top: 10px;
   }
   .mt3 {
    margin-top: 15px;
   }
   .error {
    border: 2px dashed red;
   }