body{
    background-image: url("../../Practica HTML/src/pexels-viktoriia-kondratiuk-17573843.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-size: medium;
}

form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: large;
    padding: 20px;
    margin-left: 50%;
    
}
.label{
    display: block;
}

input{
    border: 1px solid rgb(184, 184, 184);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 15px;
    /*width: 90%;*/
    font-size: large;
    
}
textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   
}

#Nombre, #Mensaje, #Email{
    color: white;
}

.errorAct{
    display: block;
    color: red;
    font-size: small;
    margin: 0%;
    
    /*display: none;*/
}
.errorInact{
    display: none;
}



