body{
    background-image: url("../../Practica HTML/src/pexels-nati-17788287.jpg");
    background-size: 40%;
}
header{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
ul{
    list-style-image: url("../../Practica HTML/src/beagle.gif") ;
  

}